.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.list-group-item {
	cursor: pointer;
	cursor: 
}

.list-group-item  {
	background-color: #e1eaea ; 
}

.information-item {
	background-color: rgba(235, 241, 248, 0.61);
	color: #000000 ; 
	padding: 100px;
	margin-right: 0px;
	margin-left: 0px;
}

.list-group-item {
  color: red;
    letter-spacing: 1px;
  text-decoration: none;
  background: none;
    border-radius: 0;
    cursor: pointer;
    margin-bottom: 0;
    vertical-align: middle;
  font-size:14px;
  line-height:20px;
  font-weight:700;
  text-transform:uppercase;
  padding:8px 20px;
}

.button-group-item:hover {
  color: black;
}

.list-group-item {
    width: 87% !important;
    text-align: center !important;
}


.smallBookImages {

}